html * {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2c1b6;
  font-family: "Montserrat", sans-serif;
  /* padding-bottom: 2000px; */
}

/* navbar section*/
.navbar {
  background-color: #1b3c53;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar span {
  color: #d2c1b6;
}

.navbar ul {
  width: auto;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
}

.navbar li {
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar a {
  width: 100%;
  padding: 0 15px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  color: rgb(110, 110, 110);
}

.navbar li:nth-child(6) {
  display: none;
}

.judul-nav a {
  height: 100%;
  font-size: 28px;
  margin-right: auto;
  font-family: "Sour Gummy", sans-serif;
}

.judul-nav {
  height: 50px;
  margin-right: auto;
  display: flex;
  align-items: center;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 42px;
  height: 28px;
  top: -2px;
  opacity: 0;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #d2c1b6;
}

/* hamburger menu animation */
.menu-toggle input:checked ~ span:nth-child(2) {
  transform-origin: 0 0;
  transform: rotate(45deg) translate(1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform-origin: 0 0;
  transform: rotate(-45deg) translate(-3px, 1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform-origin: 0 0;
  transform: scale(0);
}
/* home section */

#home {
  z-index: 9999;
  padding: 80px 0;
}

.container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: auto;
  padding: 20px 20px;
  z-index: 999;
}

.content-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-left: 50px;
}

.content .sapaan {
  display: flex;
  font-size: 20px;
  text-align: justify;
  flex-direction: column;
  margin-right: auto;
  width: 100%;
  line-height: 1.5;
}

.container-home .tagline {
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.container-home .nama {
  color: #234c6a;
  font-weight: 800;
  font-size: 30px;
  font-family: "Sour Gummy", sans-serif;
}

.container-home .heroimg {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid #234c6a;
}

.container-home2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.container-home2 ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
  margin-right: auto;
}

.container-home2 li {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  width: 100%;
}

.container-home2 a img {
  width: 57px;
  height: 57px;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}

.container-home2 a img:hover {
  transform: scale(1.3);
}

.container-home2 button {
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  background-color: #456882;
}

.container-home2 button:hover {
  background-color: #263847;
}

/* about me section */
.container-about {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: auto;
  height: 500px;
  margin: 0 auto;
}

.col-1p {
  width: 500px;
}

.judulabout h2 {
  text-align: center;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.aboutcontent {
  display: flex;
  flex-direction: row;
  /* background-color: salmon; */
}

.aboutcontent p {
  text-align: center;
  line-height: 2;
  font-size: 18px;
  margin: auto;
}

/* projects section */
.container-2 {
  width: 1400px;
  padding: 40px 0;
  margin: 0 auto;
}

.thumbnail ul {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.gallery li p {
  color: black;
  text-align: center;
  width: 400px;
}

.gallery li img {
  width: 400px;
  margin-bottom: 20px;
  border: 5px solid #234c6a;
  border-radius: 8px;
  box-sizing: border-box;
}

.judulprojects h2 {
  margin: 3rem 0;
  text-align: center;
}

/* skill section */
.container-3 {
  padding: 80px 0;
}

.judulskill {
  margin: 3rem 0;
}
.judulskill h2 {
  text-align: center;
}

.row {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.row .col a img {
  scale: 0.9;
  z-index: -999;
  transition: 0.2s ease-in-out;
}

.col a img:hover {
  transform: scale(1.3);
}

/* contact section */
#contact {
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
}

.footer {
  /* background-color: purple; */
  margin: 0 50px;
  width: 600px;
}

.footer-col ul {
  list-style-type: none;
  background-color: purple;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
}

.footer li {
  padding: 10px;
  background-color: gold;
}

.footer-col h2 {
  background-color: palegoldenrod;
}

.footer-col a {
  flex-direction: row;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.container-4 {
  width: 100%;
  height: auto;
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.container-4 h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 9px;
}

.form-group input,
textarea {
  margin-top: 10px;
}

.form-group textarea {
  resize: vertical;
  height: 200px;
}

.dis-none {
  display: none;
}

.btn-submit {
  width: 140px;
  height: 40px;
  background-color: #456882;
  color: white;
  padding: 12px 16px;
  border: 2px solid black;
  border-radius: 8px;
  transition: 0.2s ease-in;
  box-sizing: border-box;
}

.btn-submit:hover {
  background-color: #375266;
}

.container-button {
  justify-content: center;
  width: 140px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  width: 140px;
  height: 40px;
  position: relative;
  padding: 12px 16px;
  background-color: #375266;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.btn:active {
  background-color: #1b3c53;
}

.btn__text {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
}

.btn--loading .btn__text {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.container-alert {
  background-color: #eaeaea;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}
.alert-text {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
  /* navbar */
  .navbar a {
    font-size: 14px;
    padding: 0 10px;
  }

  .judul-nav a {
    font-size: 22px;
  }

  /* hero */
  .content-desc .sapaan span {
    font-size: 20px;
  }

  .content-desc .sapaan {
    font-size: 16px;
    display: flex;
    line-height: 1.5;
    text-align: center;
  }

  .content-desc .tagline {
    line-height: 1.5;
    text-align: center;
  }

  .content-desc {
    padding: 40px 0;
    display: flex;
    margin: auto;
    width: 40%;
    align-items: center;
    justify-content: center;
    justify-content: center;
  }

  .container-home2 ul {
    width: 100%;
  }

  .container-home2 li {
    display: flex;
    justify-content: center;
  }

  .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-home .heroimg {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  /* about */
  .container-about {
    width: 80%;
    height: auto;
  }
  .aboutcontent p {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
  }

  .aboutcontent {
    display: flex;
    flex-direction: column;
  }

  /* projects */
  .container-2 {
    width: 80%;
    justify-content: center;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery li {
    margin-bottom: 20px;
  }

  /* skill section */
  .container-3 {
    margin: 20px auto;
    width: 100%;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .container-4 {
    width: 70%;
  }
}

/* mobile  */
@media screen and (max-width: 576px) {
  /* navbar */
  .navbar {
    z-index: 999;
  }
  .navbar ul {
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 60%;
    background-color: #1b3c53;
    z-index: -999;
    transform: translatex(100%);
    transition: all 0.3s;
    margin: 50px 0;
  }

  .navbar ul.slide {
    transform: translatex(0);
    z-index: -999;
  }

  .menu-toggle {
    display: flex;
    margin-right: 20px;
  }

  /* home */
  .container-home {
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
  }

  .container-home .heroimg {
    width: 200px;
    height: 200px;
  }

  .content-desc {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px 0;
  }

  .content-desc .sapaan {
    text-align: center;
  }

  .content .tagline {
    text-align: center;
  }

  .container-home2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .container-home2 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    align-items: center;
    margin: auto;
  }

  .container-home2 a {
    margin: auto;
  }
}

/* animasi untuk loading button */

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
