html * {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  font-family: "Montserrat", sans-serif;
  /* padding-bottom: 2000px; */
}

/* navbar section*/
.judulnav {
  font-size: 30px;
  font-family: "Sour Gummy", sans-serif;
  color: white;
  margin-right: 40px;
}

.judulnav span {
  color: #d2c1b6;
}

.navbar {
  background-color: #1b3c53;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-bottom: 3px solid black;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 30%;
}

.navbar li a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 800;
  transition: ease-in-out 0.2s;
}

.navbar a:hover {
  color: rgb(129, 129, 129);
}

/* home section */

#home {
  border-bottom: 2px solid black;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 8rem auto;
  width: 1000px;
  padding: 20px 20px;
}

.content-desc {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.content .sapaan {
  display: inline-block;
  line-height: 1.25;
  font-size: 20px;
  text-align: justify;
  width: 80%;
  margin-left: 10%;
}

.content .tagline {
  width: 50%;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10%;
}

.content .nama {
  color: #234c6a;
  font-weight: 800;
  font-size: 30px;
  font-family: "Sour Gummy", sans-serif;
}

.content img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid black;
}

/* about me section */
#about {
  border-bottom: 2px solid black;
}
.container-about {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  width: 800px;
  margin: 0 auto;
}

.judulabout h2 {
  text-align: center;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.aboutcontent p {
  text-align: center;
  line-height: 2;
  font-size: 18px;
}

/* projects section */
#projects {
  border-bottom: 2px solid black;
}

.container-2 {
  width: 1400px;
  margin: 0 auto;
}

.thumbnail ul {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.gallery li p {
  color: black;
  text-align: center;
  width: 400px;
}

.gallery li img {
  width: 400px;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
}

.judulprojects h2 {
  margin: 3rem 0;
  text-align: center;
}

/* skill section */
.container-3 {
  border-bottom: 2px solid black;
  padding-bottom: 40px;
}

.judulskill {
  margin: 3rem 0;
}
.judulskill h2 {
  text-align: center;
}

.row {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.col a img {
  scale: 0.8;
  z-index: -9999;
  transition: 0.2s ease-in-out;
}

.col a img:hover {
  transform: scale(1.3);
}

/* contact section */
.container-4 {
  width: 100%;
  height: 600px;
  background-color: white;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.container-4 h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 9px;
}

.form-group input,
textarea {
  margin-top: 10px;
}

.form-group textarea {
  resize: vertical;
  height: 200px;
}

button {
  display: block;
  margin: auto;
  background-color: #456882;
  color: white;
  padding: 12px 16px;
  border: 2px solid black;
  border-radius: 8px;
  transition: 0.2s ease-in;
}

button:hover {
  background-color: #375266;
}

/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
  /* navbar */
  .navbar ul {
    width: 50%;
  }

  .content {
    width: 80%;
  }

  .content img {
    width: 250px;
    height: 250px;
  }

  .content-desc .sapaan span {
    font-size: 20px;
  }

  .content .sapaan {
    width: 80%;
    font-size: 16px;
    display: inline-block;
    line-height: 1.5;
  }

  .content .tagline {
    width: 80%;
    line-height: 1.5;
  }

  /* about */
  .container-about {
    width: 80%;
  }
  .aboutcontent p {
    width: 70%;
    margin: 0 auto;
  }

  /* projects */
  .container-2 {
    width: 80%;
    justify-content: center;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery li {
    margin-bottom: 20px;
  }

  /* skill section */
  .container-3 {
    margin: 20px auto;
    width: 100%;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .container-4 {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .navbar li a {
    font-size: 10px;
  }
  .judulnav {
    font-size: 20px;
  }

  .content {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

  .content img {
    margin-bottom: 20px;
  }

  .content-desc .sapaan {
    text-align: center;
  }

  .content .tagline {
    text-align: center;
  }
}
